/* -------------------- Global variables -------------------- */

:root {
   --main-app-background-color: #150050;
   --tabbed-background-color: #540081;
   --border-color: #390068;
   --main-background-color: #000;
   --meter-background-color: lightgray;
   --meter-progress-color: lightgreen;
   --text-color: white;
}

/* -------------------- Global rules across all pages -------------------- */

body {
   background-color: var(--main-background-color);
}

label, a, p, h1, h2 {
   color: var(--text-color);
   font-size: 16px;
   font-family: serif;
}

h1 {
   color: var(--text-color);
   font-size: 19px;
   line-height: 2;
   font-family: serif, 'Times New Roman', Times;
}

.the-title {
   background-color: var(--tabbed-background-color);
   text-align: center;
   margin-top: 0px;
   margin-bottom: 0px;
}

.text-center {
   display: block;
   width: 100%;
   text-align: center;
   padding-bottom: 10px;
}

#the-nav {
   background-color: #390068;
   display:flex;
   margin-bottom: 14px;
}

#the-nav a {
   text-align: center;
   line-height: 2;
   flex-grow: 1;
}

/* -------------------- Rules for About and Guide pages -------------------- */

.page-div {
   width: 300px;
   background-color: var(--main-app-background-color);
   border: solid var(--border-color);
   border-width: 4px;
   margin: 0 auto;
}

.inner-text-div {
   margin: 10px;
}

#guide-div {
   width: 1000px;
}

@media only screen and (max-width: 1200px) {
   #guide-div {
      width: 300px;
   }
 }

/* -------------------- General main page css -------------------- */

input {
   margin-left: 10px;
   width: 50px;
   border: none;
   line-height: 2;
}

.cent-div {
   text-align: center;
   position: relative;
   padding-bottom: 10px;
   width: 260px;
   margin: 0 auto;
}

button {
   width: 100px;
   margin: 0px 2px;
   border: none;
   height: 26px;
   color: var(--text-color);
   background-color: var(--main-app-background-color);
   cursor: pointer;
}

button:hover {
   background-color: var(--border-color);
}

/* -------------------- Meter -------------------- */

meter {
   height: 14px;
   width: 260px;
   background: var(--meter-background-color);
   background-color : var(--meter-background-color);
   transform: scale(0.9);
}

meter::-webkit-meter-bar {
   border-radius: 0px;
   border: none;
   height: 14px;
   background-color: var(--meter-background-color);
   color: var(--meter-background-color);
}

meter::-webkit-meter-optimum-value { /* Dont merge this with the rule below */
   background: var(--meter-progress-color);
}

meter::-moz-meter-bar { /* Dont merge this with the rule above */
   background: var(--meter-progress-color);
}

meter.gold::-webkit-meter-optimum-value {
   background: linear-gradient(90deg, rgb(255, 255, 0), rgb(170, 170, 0), rgb(255, 255, 0));
   /* animation and transform is probably not supported for meter outside of firefox */
}

meter.gold::-moz-meter-bar {
   background: linear-gradient(90deg, rgb(255, 255, 0), rgb(170, 170, 0), rgb(255, 255, 0));
   background-size: 50% 50%;

   animation: GoldAnim 2s linear infinite;
   transform: scale(1.11);
}

@keyframes GoldAnim {
   0%{background-position:0% 0%}
   100%{background-position:100% 0%}
}

/* -------------------- Log table + Progress graph -------------------- */

table {
   width: 300px;
   text-align: center;
   color: white;
}

tr:nth-child(2n) {
   background-color: var(--border-color);
}

tr:nth-child(2n+1) {
   background-color: var(--main-app-background-color);
}
 
th {
   background-color: var(--border-color);
}

svg#logGraph {
   display: block;
   background-color: var(--border-color);
   height: 150px;
   width: 280px;
   margin: 0 10px 10px 10px;
}

.svgText {
   fill: white;
   font-size: 14px;
}

/* -------------------- Tabs -------------------- */

input[type=radio] {
   display: none;
}

div#tabs-nav-div {
   display: flex;
   padding-top: 10px;
}

div.tabbed-div {
   background-color: var(--tabbed-background-color);
   padding-top: 20px;
   padding-bottom: 20px;
   display: none;
}

label.tab-label {
   display: flex;
   justify-content: center;
   flex-grow: 1;
   box-sizing: border-box;
   background-color: var(--main-app-background-color);
   cursor: pointer;
   line-height: 3;
   border-top: solid 4px var(--border-color);
   border-bottom: none;
}

label.tab-label:hover {
   transition: 250ms;
   background-color: #4d0077;
}

label.tab-label:not(:first-child) {
   border-left: solid 2px var(--border-color);
}

label.tab-label:not(:last-child) {
   border-right: solid 2px var(--border-color);
}

#radio-Timer:checked ~ #tab-div-Timer,
#radio-Manager:checked ~ #tab-div-Manager,
#radio-Settings:checked ~ #tab-div-Settings,
#radio-Logs:checked ~ #tab-div-Logs {
   display: block;
}

#radio-Timer:checked ~ div#tabs-nav-div > label:nth-child(1),
#radio-Manager:checked ~ div#tabs-nav-div > label:nth-child(2),
#radio-Settings:checked ~ div#tabs-nav-div > label:nth-child(3),
#radio-Logs:checked ~ div#tabs-nav-div > label:nth-child(4) {
   background-color: var(--tabbed-background-color);
}